/*  your css code here. If applicable */
table {
    width: 100%;
    border-collapse: seperate;
    background-color: yellow;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

caption {
    font-weight: bold;
    margin: 10px;
}
